<div th:fragment="headerdefault">
    <header class="p-3 bg-dark text-white">
        <div>
            <div>
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <a class="navbar-brand" href="/">Церковь</a>
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="/account">Аккаунты</a>
                        <a class="nav-item nav-link" href="/church">Церкви</a>
                        <a class="nav-item nav-link" href="/department">Отделы</a>
                        <a class="nav-item nav-link" href="/employee">Сотрудники</a>
                        <a class="nav-item nav-link" href="/estimate">Сметы</a>
                        <a class="nav-item nav-link" href="/position">Должности</a>
                        <a class="nav-item nav-link" href="/product">Товары</a>
                        <a class="nav-item nav-link" href="/receipt">Чеки</a>
                        <a class="nav-item nav-link" href="/warehouse">Склады</a>
                        <a class="nav-item nav-link" href="/calendar">Календарь</a>
                    </div>
                    <form th:action="@{/logout}" method="post">
                        <input class="btn btn-primary" type="submit" value="Выйти из аккаунта"/>
                    </form>
                </nav>
            </div>
        </div>
    </header>
</div>